.delete {
	border-radius: 290486px; border: currentColor; border-image: none; width: 20px; height: 20px; font-size: 0px; vertical-align: top; display: inline-block; position: relative; cursor: pointer; min-height: 20px; max-height: 20px; min-width: 20px; max-width: 20px; -ms-user-select: none; flex-grow: 0; flex-shrink: 0; background-color: transparent; -webkit-appearance: none; -moz-appearance: none; -webkit-box-flex: 0; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.delete::after {
	transform-origin: center center; left: 50%; top: 50%; display: block; position: absolute; content: ""; transform: translateX(-50%) translateY(-50%) rotate(45deg); background-color: hsla(0, 0%, 0%, 1); -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg); -webkit-transform-origin: center center;
}
.delete::before {
	transform-origin: center center; left: 50%; top: 50%; display: block; position: absolute; content: ""; transform: translateX(-50%) translateY(-50%) rotate(45deg); background-color: hsla(0, 0%, 0%, 1); -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg); -webkit-transform-origin: center center;
}
.delete::before {
	width: 50%; height: 2px;
}
.delete::after {
	width: 2px; height: 50%;
}
.delete:focus::after {
	background-color: hsla(216, 100%, 39%, 1);
}
.delete:focus::before {
	background-color: hsla(216, 100%, 39%, 1);
}
.delete:hover::after {
	background-color: hsla(216, 100%, 39%, 1);
}
.delete:hover::before {
	background-color: hsla(216, 100%, 39%, 1);
}
.delete:active::after {
	background-color: hsla(0, 0%, 19%, 1);
}
.delete:active::before {
	background-color: hsla(0, 0%, 19%, 1);
}
.is-white.delete::after {
	background-color: hsla(0, 0%, 100%, 1);
}
.is-white.delete::before {
	background-color: hsla(0, 0%, 100%, 1);
}
.is-white.delete:active::after {
	background-color: hsla(0, 0%, 46%, 1);
}
.is-white.delete:active::before {
	background-color: hsla(0, 0%, 46%, 1);
}
.is-white.delete:focus::after {
	background-color: hsla(0, 0%, 46%, 1);
}
.is-white.delete:focus::before {
	background-color: hsla(0, 0%, 46%, 1);
}
.is-white.delete:hover::after {
	background-color: hsla(0, 0%, 46%, 1);
}
.is-white.delete:hover::before {
	background-color: hsla(0, 0%, 46%, 1);
}
.is-small.delete {
	width: 16px; height: 16px; min-height: 16px; max-height: 16px; min-width: 16px; max-width: 16px;
}
.is-medium.delete {
	width: 24px; height: 24px; min-height: 24px; max-height: 24px; min-width: 24px; max-width: 24px;
}
.is-large.delete {
	width: 32px; height: 32px; min-height: 32px; max-height: 32px; min-width: 32px; max-width: 32px;
}
:not(.is-complete).completable .is-shown-complete {
	display: none;
}
.is-complete.completable .is-hidden-complete {
	display: none;
}
[aria-expanded=true] .expanded-indicator {
	transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.docon-link::before {
	content: "\E71B";
}
.docon-search::before {
	content: "\E721";
}
.docon-share::before {
	content: "\E72D";
}
.docon-play::before {
	content: "\E768";
}
.docon-calendar::before {
	content: "\E787";
}
.docon-clock::before {
	content: "\E917";
}
.docon-lightbulb::before {
	content: "\EA80";
}
.docon-arrow-up-right::before {
	content: "\F069";
}
.docon-deploy::before {
	content: "\F29D";
}
.docon-file-code::before {
	content: "\F30E";
}
.docon-inspect::before {
	content: "\F80A";
}
.docon-enter-mode::before {
	content: "\F80B";
}
.docon-wechat::before {
	content: "\F80D";
}
.docon-weibo::before {
	content: "\F80F";
}
.docon-brand-linkedin::before {
	content: "\FF00";
}
.docon-feed::before {
	content: "\FF01";
}
.docon-check::before {
	content: "\FF02";
}
.docon-feedback-positive-outline::before {
	content: "\FF03";
}
.docon-math-multiply::before {
	content: "\FF04";
}
.docon-octicon-smiley::before {
	content: "\FF06";
}
.docon-power::before {
	content: "\FF07";
}
.docon-terminal::before {
	content: "\FF08";
}
.docon-status-info-outline::before {
	content: "\FF09";
}
.docon-navigate-refresh::before {
	content: "\FF0A";
}
.docon-sharing::before {
	content: "\FF0B";
}
.docon-exit-mode::before {
	content: "\FF0C";
}
.docon-octicon-issue-closed::before {
	content: "\FF0D";
}
.docon-octicon-issue-opened::before {
	content: "\FF0E";
}
.docon-edit-outline::before {
	content: "\FF0F";
}
.docon-sun::before {
	content: "\FF10";
}
.docon-locale-globe::before {
	content: "\FF11";
}
.docon-status-warning-outline::before {
	content: "\FF12";
}
.docon-status-success-outline::before {
	content: "\FF13";
}
.docon-brand-facebook::before {
	content: "\FF14";
}
.docon-brand-github::before {
	content: "\FF16";
}
.docon-status-error-outline::before {
	content: "\FF17";
}
.docon-arrow-up-left::before {
	content: "\FF18";
}
.docon-arrow-right::before {
	content: "\FF19";
}
.docon-moon::before {
	content: "\FF1A";
}
.docon-code-lang::before {
	content: "\FF1B";
}
.docon-brand-twitter::before {
	content: "\FF1C";
}
.docon-edit-copy::before {
	content: "\FF1D";
}
.docon-editor-list-bullet::before {
	content: "\FF1E";
}
.docon-octicon-plus-small::before {
	content: "\FF1F";
}
.docon-arrow-down::before {
	content: "\FF20";
}
.docon-arrow-left::before {
	content: "\FF21";
}
.docon-status-waiting::before {
	content: "\FF22";
}
.docon-comment-lines::before {
	content: "\FF24";
}
.docon-comment-outline::before {
	content: "\FF25";
}
.docon-mail-message-fill::before {
	content: "\FF27";
}
.docon-math-minus::before {
	content: "\FF28";
}
.docon-math-plus::before {
	content: "\FF29";
}
.docon-math-plus-light::before {
	content: "\FF2A";
}
.docon-user::before {
	content: "\FF2C";
}
.docon-navigate-external::before {
	content: "\FF2D";
}
.docon-play-fill::before {
	content: "\FF2E";
}
.docon-menu::before {
	content: "\FF2F";
}
.docon-navigate-close::before {
	content: "\FF30";
}
.docon-chevron-up-light::before {
	content: "\FF31";
}
.docon-chevron-left-light::before {
	content: "\FF32";
}
.docon-chevron-down-light::before {
	content: "\FF33";
}
.docon-chevron-right-light::before {
	content: "\FF34";
}
.docon-status-failure-outline::before {
	content: "\FF35";
}
audio {
	vertical-align: baseline; display: inline-block;
}
canvas {
	vertical-align: baseline; display: inline-block;
}
progress {
	vertical-align: baseline; display: inline-block;
}
video {
	vertical-align: baseline; display: inline-block;
}
audio:not([controls]) {
	height: 0px; display: none;
}
template {
	display: none;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
mark {
	background: rgb(255, 255, 0); color: rgb(0, 0, 0);
}
small {
	font-size: 80%;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
svg:not(:root) {
	overflow: hidden;
}
button {
	overflow: visible;
}
button {
	cursor: pointer;
}
html input[type=button] {
	cursor: pointer;
}
input[type=reset] {
	cursor: pointer;
}
input[type=submit] {
	cursor: pointer;
}
button[disabled] {
	cursor: default;
}
html input[disabled] {
	cursor: default;
}
input {
	line-height: normal;
}
input[type=checkbox] {
	padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box;
}
input[type=radio] {
	padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: 600;
}
a.nohref {
	cursor: pointer;
}
mark {
	padding: 0px 0.45em 0.1em; border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.05); border-image: none; color: rgb(51, 51, 51); font-size: 0.8em; vertical-align: baseline; background-color: rgba(0, 0, 0, 0.05);
}
.theme_night mark {
	border-color: hsla(0, 0%, 100%, 0.05); color: rgb(204, 204, 204); background-color: hsla(0, 0%, 100%, 0.03);
}
.content .azureselector label {
	height: 28px; color: hsla(0, 0%, 0%, 1); text-transform: uppercase; line-height: 28px; letter-spacing: 0.5px; font-size: 0.6em; font-weight: 600; margin-right: 0.6em; vertical-align: middle; float: left; position: relative;
}
body[dir=rtl] .content .azureselector label {
	margin-right: 0px; margin-left: 0.6em; float: right;
}
blockquote {
	border-width: 0px 0px 0px 3px; border-style: solid; border-color: rgb(224, 224, 224); margin: 1.2em 0px 2em; padding: 0px 0.8em; display: block;
}
.theme_night blockquote {
	border-color: rgb(64, 64, 64);
}
blockquote footer {
	color: gray; font-size: 0.9em;
}
.theme_night blockquote footer {
	color: gray;
}
.definition {
	border-width: 0px 0px 1px; border-style: dotted; border-color: rgb(171, 171, 171);
}
.theme_night .definition {
	border-color: rgb(110, 110, 110);
}
.full {
	width: 100%; padding-left: 0px; clear: both; margin-left: 0px;
}
.overflowable {
	-ms-overflow-x: auto; -ms-overflow-y: hidden; min-height: 0.01%; -webkit-overflow-scrolling: touch;
}
.list-indent li {
	margin-left: 0.6em;
}
.list-footnotes {
	color: gray; font-size: 0.9em;
}
.theme_night .list-footnotes {
	color: gray;
}
.table-wrapper {
	margin: 0.6em 0px 1.2em; border-radius: 2px; border: 1px solid rgb(227, 227, 227); border-image: none; -ms-overflow-x: auto; -ms-overflow-y: hidden; min-height: 0.01%; -ms-overflow-style: -ms-autohiding-scrollbar; -webkit-overflow-scrolling: touch;
}
.theme_night .table-wrapper {
	border-color: rgb(46, 46, 46);
}
.document-ui {
	padding: 0.4em 0.6em; border-radius: 2px; overflow: auto; margin-top: 0.6em; margin-bottom: 2em; list-style-type: none; background-color: hsla(0, 0%, 94%, 1);
}
.theme_night .document-ui {
	background-color: rgb(36, 36, 36);
}
.document-ui li {
	margin: 0px; padding: 0.2em 0px; display: inline-block;
}
#menu-bar-container {
	clear: both; position: relative;
}
#menu-bar {
	width: 100%; height: auto; overflow: auto; display: none; position: relative;
}
@media only screen and (min-width:1024px)
{
#menu-bar {
	display: block !important;
}
}
.step-by-step {
	border-width: 1px 0px 0px; border-style: solid; border-color: rgb(227, 227, 227); padding: 1em; text-align: center; margin-top: 2em;
}
.theme_night .step-by-step {
	border-color: rgb(46, 46, 46);
}
.step-by-step button {
	margin-right: 0.5em; margin-left: 0.5em;
}
.selectors {
	margin: 2em 0px; overflow: auto; display: block;
}
.openfeedback-container {
	display: block; position: relative; z-index: 220;
}
.product-feedback {
	border-width: 1px 0px 0px; border-style: solid; border-color: rgb(227, 227, 227); color: gray; padding-top: 0.6em; margin-top: 2em; margin-bottom: 2em; display: block;
}
@media screen and (max-width:1024px)
{
.product-feedback {
	flex-flow:row wrap; display: flex; justify-content: flex-start; -webkit-box-pack: start; -webkit-box-orient: horizontal; -webkit-box-direction: normal;
}
}
.product-feedback a {
	padding-right: 24px; white-space: nowrap;
}
@media screen and (max-width:1024px)
{
.product-feedback a {
	max-width: 50%;
}
}
[dir=rtl] .product-feedback a {
	padding-right: 0px; padding-left: 24px;
}
.op_multi_selector {
	display: none;
}
.op_single_selector {
	display: none;
}
.azureselector > div {
	margin-right: 20px; display: inline-block;
}
[dir=rtl].content .azureselector > div {
	margin-right: 0px; margin-left: 20px;
}
